@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shojumaru&family=Signika:wght@300..700&display=swap');

body{
    font-family: "Mulish", sans-serif;
    background-color: #F0F2F6;
}

.location{
    background-color: #F2F6FE;
    margin-right: 30px;
    padding: 13px 25px 0px 25px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}
.location>i{
    font-size: 15px;
    margin-right: 4px;
}
.location>span{
    font-weight: 600;
    font-size: 16px;
}
.location>span i{
    color: black;
    margin-left: 10px;
    font-size: 14px;
}
.location>p{
    color: rgb(107, 107, 107);
}
i{
    color: #26A541;
}
.time{
    margin-right: 2%;
}
#home-del{
    color: #26A541;
}
.time>p{
    margin: 1px;
}
.time>p:nth-child(1){
    color: rgb(130, 130, 130);
    font-size: 15px;
}
.time>p:nth-child(2){
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.time>p>i{
    margin-right: 5px;
    color: orange;
}
.search{
    width: 0;
   border: 2px solid rgb(213, 212, 212);
   padding: 8px;
   background-color: #ffffff;
   border-top-left-radius: 5px;
   flex: 1;
   border-bottom-left-radius: 5px;
}
    .middle-sec {
        flex: 1;
        display: flex;
        margin-right: 7%;
      }

.search:focus{
   outline: none;
}
.search::placeholder{
    font-family: "Mulish", sans-serif;
    color: rgb(193, 193, 193);
    font-size: 14px;
}
.button{
    background-color: #26A541;
    border: none;
    color: white;
    margin-left: -3px;
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
}
.login-part>span{
    font-size: 14px;
}
.login-part>i{
    padding: 3px;
    font-size: 19px;
}
.login-part:hover{
    text-decoration: underline;
}
.cart{
    margin-left: 4%;
    float: right;
}
.cart>div>i{
    font-size: 25px;
}
.rupee{
    font-size: 22px;
}
.head{
    border-bottom: 1px solid rgb(192, 192, 192);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav{
    border-bottom: 1px solid rgb(192, 192, 192);
}
.cart-icon{
    position: relative;
    right: 0;
    font-size: 9px;
}
.cart-count{
    position: absolute;
    top: -10px;
    background-color: #FFE589;
    border-radius: 50%;
    padding: 5px;
}
.section1-abdulla{
    color: rgb(66, 66, 66) ;
    border-bottom: 1px solid rgb(192, 192, 192);
    padding: 10px 0px 10px 0px;
}
.section1-abdulla>span{
    padding: 0px 30px 0px 10px;
    font-size: 14px;
}
.section1-abdulla>span:nth-of-type(2){
    margin: 0;
    padding: 0;
}
.section1-abdulla-all-cat{
    margin-right: 30px;
}
.section1-abdulla-all-border{
    border-left: 1px solid rgb(90, 90, 90);
}
.section1-abdulla>span:hover{
    text-decoration: underline;
}
.section1-abdulla>span>i{
    color: rgb(106, 106, 106);
    margin-right: 5px;
}
.img {
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(203, 202, 202);
    margin-bottom: 30px;
  }
  .section3-abdulla{
    background-color: white;
    padding: 0px 30px 30px 30px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
    position: relative;
  }
  .section3-abdulla>button{
    position: absolute;
    right: 17px;
    top: 43%;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    padding: 20px 10px 20px 10px;
  }
  .cat {
    font-weight: 500;
    font-size: 13px;
    margin: 0;
  }
  #section3-abdulla-head{
    text-align: left !important;
    color: black;
    font-weight: 500;
    margin: 20px;
  }
  .section4-abdulla{
    background-color: white;
    padding: 30px 18px 30px 30px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
  }


/* vibhor */
img:hover {
    cursor: pointer;
}

.section5-img {
    background-color: white;
    padding: 24px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}

.section6a {
    background-color: white;
    padding: 24px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}

.section7-img {
    background-color: white;
    padding: 24px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}

.section8-img {
    background-color: white;
    padding: 24px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}

.section6a>img {

    transition: transform 0.3s ease;
}

.section6a img:hover {
    transform: scale(1.05);
}
.cart-count{
    position: absolute;
    top: -10px;
    background-color: #FFE589;
    border-radius: 50%;
    padding: 5px;
}

.section-13,.section-15{
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}
.section-16{
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px;
    border-radius: 5px;
}
.section-16>img{
    transition: transform 0.3s ease;
    }
    .section-16 img:hover {
      transform: scale(1.05);
    }
/* vibhor */

