*{
    margin: 0px;
    padding: 0px;
}
@mixin outer($w,$h,$b,$s,$c,$ml){
    width: $w;
    height: $h;
    // border: $b $s $c;
    margin-left: $ml;
}
@mixin calendarBox($w,$h,$b,$s,$c,$bs,$br,$ml,$mb,$dp,$spaceb,$bsize,$pd){
    width: $w;
    height: $h;
    border: $b $s $c;
    box-shadow: $bs;
    border-radius: $br;
    margin-left: $ml;
    margin-bottom: $mb;
    display: $dp;
    justify-content: $spaceb;
    box-sizing: $bsize;
    padding: $pd;
}
@mixin bTop_bBottom($w,$h,$b,$s,$c,$ml,$mt){
    width: $w;
    height: $h;
    border-bottom: $b $s $c;
    margin-left: $ml;
    margin-top: $mt;
}
#calendar{
    @include outer(880px,auto,1px,solid,red,300px);
    >h1{
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        color:#05073C;
        margin-left: 15px;
        margin-top: 45px;
        margin-bottom: 15px;
    }
}
#calendar_box{
    @include calendarBox(504px,305.25px,0px,solid,#8798AD,0px 0px 5px 0px #8798AD,5px,15px,45px,flex,space-between,border-box,15px);
}
#calendar{
    >#b_top{
        @include bTop_bBottom(850px,1px,1px,solid,#E7E6E6,15px,10px);
    }
    >#b_bottom{
        @include bTop_bBottom(850px,1px,1px,solid,#E7E6E6,15px,0px);
    }
}
.calendar-month{
    font-family: Inter;
    font-size: 13.34px;
    font-weight: 400;
    line-height: 26.25px;
    color:black;
    display: flex;
    justify-content: center;
    // align-items: center;
    >span{
        color: #EB662B;
        font-size: 13.34px;
        font-weight: 700;
        margin-top: 3px;
    }
    >#cm-left-arrow{
        position: relative;
        left: -62px;
    }
    >#cm-right-arrow{
        position: relative;
        left: 70px;
    }
}
.calendar-thead{
    font-family: Inter;
    font-size: 12.49px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
    color: #EB662B;
}
tbody,tfoot>tr>td{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
td{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    padding-bottom: 6px;
    text-align: center;
}
#calendar-day-9{
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFC107;
    color: white;
}


@mixin container($w,$h,$b,$s,$c,$ml){
    width: $w;
    height: $h;
    // border: $b $s $c;
    margin-left: $ml;
}
@mixin innerBox($w,$h,$b,$s,$c,$bs,$br,$ml,$mb){
    width: $w;
    height: $h;
    border: $b $s $c;
    box-shadow: $bs;
    border-radius: $br;
    margin-left: $ml;
    margin-bottom: $mb;
}
#faq-section{
    @include container(880px,auto,1px,solid,red,300px);
    >h1{
        font-family: Inter;
        font-size: 29.18px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        color: #05073C;
        margin-left: 15px;
        margin-top: 45px;
        margin-bottom: 35px;
    }
}
#faq-box-1{
    @include innerBox(850px,166.38px,1px,solid,#E7E6E6,0px 10px 40px 0px #0000000D,12px,15px,15px);
}
.faq-box{
    @include innerBox(850px,62px,1px,solid,#E7E6E6,0px,12px,15px,15px);
    >p{
        font-family: Inter;
        font-size: 15.63px;
        font-weight: 500;
        line-height: 28px;
    }
}
#faq-box-1>p:nth-child(1){
    font-family: Inter;
    font-size: 15.63px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#faq-box-1>p:nth-child(2){
    font-family: Inter;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 28.13px;
    color: black;
    width: 784px;
    margin-left: 15px;
}
#faq-box-2>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#faq-box-3>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#faq-box-4>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#border-bottom{
    // @include bBottom(850px,40px,1px,solid,red,15px);
    width: 850px;
    height: 1px;
    border-bottom: 1px solid #E7E6E6;
    margin-left: 15px;
    margin-top: 60px;
}


@mixin customerReview($w,$h,$b,$s,$c,$ml){
    width: $w;
    min-height: $h;
    // border: $b $s $c;
    margin-left: $ml;
}
#customer-review{
    @include customerReview(880px,470px,1px,solid,red,300px);
    >p{
        font-family: Inter;
        font-size: 29.53px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        margin-left: 15px;
        color:#05073C;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
#c-review{
    width: 850px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    // border: 2px solid red;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    >div{
        // border: 2px solid red;
        width: 423px;
        height: 78.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >p{
            font-family: Inter;
            font-size: 15.88px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            color:#05073C;
            margin-right: 30px;
        }
        >div{
            margin-left: 70px;
            >p:nth-child(1){
                font-family: Inter;
                font-size: 15.5px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color:#05073C;
                ;
            }
            >p:nth-child(2){
                font-family: Inter;
                font-size: 14.65px;
                font-weight: 400;
                line-height: 22.5px;
                text-align: left;
            }
        }
    }
    >#c-review-1{
        background-color: #fdf0ea;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        grid-area: 1/1/2/3;
        width: 850px;
    }
    >#c-review-2{
        background-color: #fdf0ea;
        border-top-right-radius: 12px;
        // grid-area: b;
    }
    >#c-review-3{
        background-color: #fef9f7;
        // grid-area: c;
    }
    >#c-review-4{
        background-color: #fef9f7;
        // grid-area: d;
    }
    >#c-review-5{
        background-color: #fef9f7;
        // grid-area: e;
    }
    >#c-review-6{
        background-color: #fef9f7;
        // grid-area: f;
    }
    >#c-review-7{
        background-color: #fef9f7;
        border-bottom-left-radius: 12px;
        // grid-area: g;
    }
    >#c-review-8{
        background-color: #fef9f7;
        border-bottom-right-radius: 12px;
        // grid-area: h;
    }
}

// ===================SAIFUDDIN==================//