#header .navbar {
  max-width: 1320px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .navbar .nav-search {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 77px;
}
#header .navbar .nav-search input {
  font-family: Inter;
  font-weight: 400;
  font-size: 14.77px;
  border: 0;
  height: 20px;
  color: #757575;
}
@media screen and (max-width: 768px) {
  #header .navbar .nav-search {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  #header .navbar .nav-search input {
    width: 100%;
    border-radius: 150px;
    height: 35px;
    width: 210px;
  }
}
#header .navbar .buttons {
  font-family: Inter;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  display: flex;
  align-items: center;
  gap: 63px;
}
@media screen and (max-width: 990px) {
  #header .navbar .buttons .hide {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  #header .navbar .buttons {
    margin: 10px 0px;
  }
  #header .navbar .buttons .hide {
    display: none;
  }
}
#header .navbar button {
  color: #fff;
  border: 0;
  background-color: #eb662b;
  font-family: "Inter", sans-serif;
  font-size: 14.3px;
  font-weight: 500;
  text-align: center;
  padding: 12px 21px 12px 21px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 200px;
}
@media screen and (max-width: 768px) {
  #header .navbar {
    flex-direction: column;
    align-items: center;
  }
}

#pradeep {
  max-width: 1320px;
  width: 100%;
  margin: auto;
}
#pradeep .phuket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pradeep .phuket .left {
  font-family: Inter;
  font-size: 13.23px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
}
#pradeep .phuket .right {
  font-family: Inter;
  font-size: 13.34px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #pradeep .phuket {
    flex-direction: column;
    align-items: center;
  }
}
#pradeep .bestseller {
  font-family: Inter;
  font-size: 13.67px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px 0px;
}
#pradeep .bestseller button:nth-of-type(1) {
  text-align: center;
  color: #EB662B;
  border: 0px;
  padding: 11px 15.8px 11px 16px;
  border-radius: 25px;
}
#pradeep .bestseller button:nth-of-type(2) {
  padding: 11px 15.8px 11px 16px;
  border-radius: 200px;
  border: 0px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #pradeep .bestseller {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
#pradeep .tourheading {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
#pradeep .tourheading h1 {
  font-family: Inter;
  font-size: 39.69px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #pradeep .tourheading {
    width: 100%;
  }
  #pradeep .tourheading h1 {
    text-align: center;
  }
}
#pradeep .tourdata {
  display: flex;
  justify-content: space-between;
  border: 0;
}
#pradeep .tourdata .touranalysis {
  display: flex;
  gap: 20px;
  margin-left: 10%;
}
#pradeep .tourdata .buttons {
  display: flex;
  gap: 20px;
  margin-right: 4%;
}
@media screen and (max-width: 768px) {
  #pradeep .tourdata {
    flex-direction: column;
    align-items: center;
  }
}
#pradeep .destinationimages {
  position: relative;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
#pradeep .destinationimages .item1, #pradeep .destinationimages .item2, #pradeep .destinationimages .item3, #pradeep .destinationimages .item4 {
  width: 100%;
}
#pradeep .destinationimages .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
#pradeep .destinationimages .item2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 6;
}
#pradeep .destinationimages .item3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
#pradeep .destinationimages .item4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}
#pradeep .destinationimages .seeall {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: Inter;
  font-size: 14.65px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 13px 20.8px 13px 21px;
  border-radius: 200px;
  background-color: #05073C;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #pradeep .destinationimages .seeall {
    text-align: center;
    padding: 7px 10px 6px 10px;
    border-radius: 200px;
    background-color: #05073C;
    color: #fff;
  }
}/*# sourceMappingURL=styles.css.map */