@mixin customerReview($w,$h,$b,$s,$c,$ml){
    width: $w;
    min-height: $h;
    // border: $b $s $c;
    margin-left: $ml;
}
#customer-review{
    @include customerReview(880px,470px,1px,solid,red,300px);
    >p{
        font-family: Inter;
        font-size: 29.53px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        margin-left: 15px;
        color:#05073C;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
#c-review{
    width: 850px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    // border: 2px solid red;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2,1fr);
    >div{
        // border: 2px solid red;
        width: 423px;
        height: 78.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >p{
            font-family: Inter;
            font-size: 15.88px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            color:#05073C;
            margin-right: 30px;
        }
        >div{
            margin-left: 70px;
            >p:nth-child(1){
                font-family: Inter;
                font-size: 15.5px;
                font-weight: 500;
                line-height: 24px;
                text-align: left;
                color:#05073C;
                ;
            }
            >p:nth-child(2){
                font-family: Inter;
                font-size: 14.65px;
                font-weight: 400;
                line-height: 22.5px;
                text-align: left;
            }
        }
    }
    >#c-review-1{
        background-color: #fdf0ea;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        grid-area: 1/1/2/3;
        width: 850px;
    }
    >#c-review-2{
        background-color: #fdf0ea;
        border-top-right-radius: 12px;
        // grid-area: b;
    }
    >#c-review-3{
        background-color: #fef9f7;
        // grid-area: c;
    }
    >#c-review-4{
        background-color: #fef9f7;
        // grid-area: d;
    }
    >#c-review-5{
        background-color: #fef9f7;
        // grid-area: e;
    }
    >#c-review-6{
        background-color: #fef9f7;
        // grid-area: f;
    }
    >#c-review-7{
        background-color: #fef9f7;
        border-bottom-left-radius: 12px;
        // grid-area: g;
    }
    >#c-review-8{
        background-color: #fef9f7;
        border-bottom-right-radius: 12px;
        // grid-area: h;
    }
}
