@mixin container($w,$h,$b,$s,$c,$ml){
    width: $w;
    height: $h;
    // border: $b $s $c;
    margin-left: $ml;
}
@mixin innerBox($w,$h,$b,$s,$c,$bs,$br,$ml,$mb){
    width: $w;
    height: $h;
    border: $b $s $c;
    box-shadow: $bs;
    border-radius: $br;
    margin-left: $ml;
    margin-bottom: $mb;
}
#faq-section{
    @include container(880px,auto,1px,solid,red,300px);
    >h1{
        font-family: Inter;
        font-size: 29.18px;
        font-weight: 700;
        line-height: 45px;
        text-align: left;
        color: #05073C;
        margin-left: 15px;
        margin-top: 45px;
        margin-bottom: 35px;
    }
}
#faq-box-1{
    @include innerBox(850px,166.38px,1px,solid,#E7E6E6,0px 10px 40px 0px #0000000D,12px,15px,15px);
}
.faq-box{
    @include innerBox(850px,62px,1px,solid,#E7E6E6,0px,12px,15px,15px);
    >p{
        font-family: Inter;
        font-size: 15.63px;
        font-weight: 500;
        line-height: 28px;
    }
}
#faq-box-1>p:nth-child(1){
    font-family: Inter;
    font-size: 15.63px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#faq-box-1>p:nth-child(2){
    font-family: Inter;
    font-size: 14.53px;
    font-weight: 400;
    line-height: 28.13px;
    color: black;
    width: 784px;
    margin-left: 15px;
}
#faq-box-2>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#faq-box-3>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#faq-box-4>p{
    height: 62px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 22px;
    color: black;
}
#border-bottom{
    // @include bBottom(850px,40px,1px,solid,red,15px);
    width: 850px;
    height: 1px;
    border-bottom: 1px solid #E7E6E6;
    margin-left: 15px;
    margin-top: 60px;
}